body{
    background-color: rgb(27, 241, 27);
    height: 100vh;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: white;
    margin: 16px 0;
    
}
p{
    transition: 1s;
    position: relative;
    margin: 0;
    height: 100%;
    padding: 16px;
    /* transition-timing-function: ease-in-out */
}
p::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    transition: width 1s ease;
}
p:hover::before{
    border-bottom: 2px solid blue;
    width: 100%;
    right: 0;
}
p:hover{
    background-color: yellow;
}